---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Melaku Garcia Portfolio Site"
  seoTitle="Melaku Garcia, Web Developer Portfolio"
  seoDesc="Web Developer who expertise in React, JS, Node and Java"
>
  <div
    class="w-6/12 mx-auto flex flex-col items-center justify-center text-center"
  >
    <h1 class="text-6xl">ABOUT</h1>

    <div
      class="w-96 h-96 flex items-center justify-center my-6 bg-gray-300 rounded-full"
    >
      <img
        src="./public/images/melaku.png"
        alt="Avatar"
        class="w-full h-full rounded-full object-cover max-auto shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.4)]"
      />
    </div>
  </div>

  <div class="w-6/12 mx-auto text-center">
    <p class="text-center">
      <br /> I am a final year student of Web Application Development (DAW) at IES
      El Lago. Currently seeking an opportunity to undertake my professional internship.
    </p>
    <br />
    <p class="text-center">
      My education includes two years of study in Software Engineering at the
      Polytechnic University of Madrid, which has provided me with a strong
      foundation in the field of computer science. <br />In addition to my
      academic background, I possess a high level of proficiency in English,
      certified by Google as a Data Analyst.
    </p>
    <br />
    <p class="text-center">
      My focus is on web development, where I have outstanding skills in Java,
      JavaScript, React, HTML, CSS, and Tailwind CSS. I also have knowledge in
      C, Python, and PHP. I am an adaptable and sociable individual, capable of
      working both in teams and independently.
    </p>
    <p class="text-center">
      My rigorous approach and commitment to excellence drive me to strive for
      exceptional results in every project I undertake. Discipline and
      dedication are values that define me and that I consistently apply in my
      pursuit of excellence. <br /> If you would like to get in touch with me, please
      do not hesitate to contact me via direct message or email.
    </p>
  </div>
</MainLayout>
