---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Melaku Garcia Portfolio Site"
  seoTitle="Melaku Garcia, Web Developer Portfolio"
  seoDesc="Web Developer who expertise in React, JS, Node and Java"
>
<div class="w-8/12 lg:w-6/12 mx-auto">
  <h1 class="text-7xl my-8 text-center">PROJECTS</h1>
  <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-8 drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]">
    <a href="/projects/pokedex" class="group">
      <div class="rounded overflow-hidden hover:scale-105 transition-transform duration-300 transform-gpu">
        <img
          src="/public/images/pokedex.png"
          alt="Project Image"
          class="object-cover object-center rounded w-full h-full"
        />
      </div>
    </a>
    <a href="/projects/java" class="group">
      <div class="rounded overflow-hidden hover:scale-105 transition-transform duration-300 transform-gpu">
        <img
          src="/public/images/java.png"
          alt="Project Image"
          class="object-cover object-center rounded w-full h-full"
        />
      </div>
    </a>
    <a href="/projects/youtube" class="group">
      <div class="rounded overflow-hidden hover:scale-105 transition-transform duration-300 transform-gpu">
        <img
          src="/public/images/youtube.png"
          alt="Project Image"
          class="object-cover object-center rounded w-full h-full"
        />
      </div>
    </a>
    <a href="/projects/calculadora" class="group">
      <div class="rounded overflow-hidden hover:scale-105 transition-transform duration-300 transform-gpu">
        <img
          src="/public/images/calculadora.png"
          alt="Project Image"
          class="object-cover object-center rounded w-full h-full"
        />
      </div>
    </a>

  </div>
</div>




</MainLayout>
