---
---

<footer class="text-center mt-auto py-4">
  <small>
   <p>Contacto: melakugarciabon@gmail.com | Teléfono: +34 628 690 272</p>
  </small>
  
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
